@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h2>Hello World, Welcome to Globlex intranet for sending message of reject ats</h2><hr>
    <a class="btn btn-outline-primary" href="/sending/index">Enter Website</a>
</div>
