@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This intranet is only for the specific person only, in case you want to have 
    an access, please contact IT department </p>
